# Python

__pycache__/

*.py[cod]

*.egg-info/

.env

venv/

.venv/

# Garder la structure des dossiers mais ignorer les gros fichiers de données

data/raw/*

data/processed/*

!data/raw/.gitkeep

!data/processed/.gitkeep

# Garder la structure models/ mais ignorer les fichiers lourds



# Jupyter

.ipynb_checkpoints/

# IDE

.vscode/

*.code-workspace

# OS

.DS_Store

Thumbs.db